%h3 Search TMDb for a movie
= form_tag :action => 'search_tmdb' do
  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'
  = button_to 'Cancle', movies_path