%br
.row
    .col.s12
        %a{class: "red darken-1 btn-small", href: "/logout"}Logout

%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do
  = render :partial => 'movie_form'
  %br
  = submit_tag 'Save changes'
  %br
  %br
  %a{class: "waves-effect waves-light btn", href:"/movies/#{@movie.id}"} Cancel