%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do
  = render :partial => 'movie_form'
  %br
  = submit_tag 'Save changes'
  %br
  %br
  %a{class: "waves-effect waves-light btn", href:"/movies/#{@movie.id}"} Cancel