%h2 Create New Movie

= form_tag '/movies', :method => :post do
    = render :partial => 'movie_form'
    = submit_tag 'Save Changes'

%br
%a{class: "waves-effect waves-light btn", href:"/movies"} Cancel
