= render(partial: "search_tmdb_form") 

%h1 Search TMDb Result
%table#movies
  %thead
    %tr
      %th picture
      %th Movie Title
      %th Rating
      %th overview
  %tbody
  - @movies.each do |movie|
    %tr
      %td=image_tag("https://image.tmdb.org/t/p/original#{movie.backdrop_path}", height: '250', width: '250')
      %td=movie.title
      %td=movie.vote_average
      %td=movie.overview
      %td=button_to("Add Movie", '/movies', 
            :method => :post, :params => {:movie => {title: movie.title, rating: "PG", release_date: movie.release_date, description: movie.overview}}, 
            class: "waves-effect waves-light btn") 